<title>Dicas Culturais - Meninas e Mulheres na Ciência</title>
<meta name="description"
  content='Aqui você encontra conteúdos culturais com a temática "Meninas e Mulheres na Ciência"'>
<link rel="stylesheet" type="text/css" href="/css/styles-dicas-culturais.css">
</head>

<body>
  {{>main-header}}
  <main>
    <section>
      <h2 class="titulo-section">Dicas Culturais</h2>
      <a class="itens-section" href="/dicas-culturais/series/">
        <img src="/imagens/dicas-culturais/lancamento-icone.jpg">
        <h3>Séries</h3>
      </a>
      <a class="itens-section" href="/dicas-culturais/livros/">
        <img src="/imagens/dicas-culturais/livro-icone.jpg">
        <h3>Livros</h3>
      </a>
      <a class="itens-section" href="/dicas-culturais/filmes/">
        <img src="/imagens/dicas-culturais/cinema-icone.jpg">
        <h3>Filmes</h3>
      </a>
    </section>
  </main>
  {{>main-footer}}
</body>

</html>