<footer>
  <div class="footer-conteudo">
    <div class="footer-conteudo-lado-esquerdo">
      <div class="logo-site">
        <img class="imagem-logo" src="/icones/iconeSite.png">
        <div class="textos-logo">
          <h1>Meninas e Mulheres</h1>
          <h1>na Ciência</h1>
        </div>
      </div>
      <ul>
        <li>
          <a href="/">
            <h4>Página inicial</h4>
          </a>
        </li>
        <li>
          <a href="/analises/">
            <h4>Análises</h4>
          </a>
        </li>
        <li>
          <a href="/catalogacoes/">
            <h4>Catalogação de trabalhos acadêmicos</h4>
          </a>
        </li>
        <li>
          <a href="/dicas-culturais/">
            <h4>Dicas culturais</h4>
          </a>
        </li>
        <li>
          <a href="/contato/">
            <h4>Informações de contato</h4>
          </a>
        </li>
      </ul>
      <hr>
    </div>
    <img src="/icones/logoIF.png">
  </div>
  <p>©2021 Meninas e Mulheres na Ciência</p>
</footer>