<title>Recuperar Senha - Meninas e Mulheres na Ciência</title>
<style>
  header,
  footer {
    background-color: #314a6b;
  }

  section {
    padding: 4vh 0;
    background-color: #cbcbba;
    display: flex;
    flex-direction: column;
  }

  .titulo-pagina {
    align-self: center;
    min-width: 0;
    max-width: 80vw;
  }

  .mensagem {
    border: 0.1vh solid #000;
    max-width: 50vw;
    align-self: center;
  }
</style>
</head>

<body>
  {{>main-header}}
  <main>
    <section>
      <h2 class="titulo-pagina">Recuperar Senha</h2>
      {{>area-restrita/mensagens-flash}}
      <form action="/esqueceu-senha" class="formulario-resetar-senha" method="post">
        <label for="email">Digite seu e-mail:</label>
        <input type="email" name="email" required="required">
        <input type="submit" value="Enviar Email">
      </form>
    </section>
  </main>
  {{>main-footer}}
</body>