header,
    footer {
      background-color: rgba(55, 17, 89, .91);

    }

    section {
      display: flex;
      flex-direction: column;
      background-color: #371159;
      text-align: left;
      min-height: 90vh;
      align-items: center;
      padding-bottom: 8vh;
    }

    main img {
      max-width: 25vw;
      margin-top: 9vw;
      margin-bottom: 3vw;

    }

    footer {
      min-height: 15vh;
    }

    .texto-Titulo {
      color: #FFF;
      text-decoration:underline;
      font-family: "Bunya Light", Arial, sans-serif;
      max-width: 65vw;
      padding: 4vh 0 0;
      font-size: 1.5rem;
      text-align: center;

    }
    .texto-Titulo-2{
      text-decoration: none;
      text-align: center;
      align-items: center;
      padding-top: 1vw;
      font-size: 1.7rem;
      max-width: 50vw;
    }

    .titulo-dados-integrante {
      text-decoration: none;
      width: 80vw;
      padding-bottom: 2vh;
    }

    form {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content:flex-start;
    }

    span {
      align-self: flex-start;
    }

    span,
    input,
    select,
    textarea {
      background-color: #371159;
      border-color: #FFF;
      margin-top: 2vw;
      font-family: "Bunya Light", Arial, sans-serif;
      color: #FFF;
      text-align: left;
      min-width: 50vw;
      margin-left: 1vw;
      word-break: break-all;

    }

    span {
      margin-top: 4vw;
    }

    input[type="submit"] {
      text-align: center;
      margin-top: 6vw;
    }

    span:before {
      content: "\a ";
    }

    .alinharlista {
      text-align: center;
      color:#FFF
    }

    .botoes-edicao-conteudo {
      margin-top: 4vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4vh 3vh 3vh;
      border-top: 0.1vh solid #FFF;
      border-bottom: 0.1vh solid #FFF; 
      justify-content: center;
      min-width: 25vw;
    }

    .tabela-edicao-conteudo {
      border: 0.1vh solid #fff;
      margin-top: 5vh;
      font-family: "Montserrat Regular", Helvetica, sans-serif;
      color: #FFF;
      max-width: 80vw;
      overflow: hidden;
    }

    .tabela-edicao-conteudo a {
      color:#FFF;
    }

    .tabela-edicao-conteudo th {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
    }


    .tabela-edicao-conteudo tr, .tabela-edicao-conteudo td {
      border: 0.1vh solid #fff;
      padding: 2vh;
    }

    .tabela-edicao-conteudo tr td:nth-child(2) {
      word-break: break-all;
    }

    .pagina-atual {
      font-weight: bold;
    }

    .botoes-edicao-conteudo img {
      max-width: 10vw;
      margin: 0;
    }
    
    .voltar-e-logo {
      min-width: 62.5vw;
      align-self: flex-start;
      display: flex;
      justify-content: space-between;
    }

    .botao-voltar {
      justify-self: flex-start;
      align-self: flex-start;
      margin: 2vw 0 0 2vw;
    }

    .botao-voltar img {
      margin: 0;
      max-width: 10vw;
    }

    .registros {
      display: flex;
      flex-direction: column;
      align-items: center;
      word-break: break-all;

    }

    .botoes-deletar-editar img {
      margin: 0;
      max-width: 15vw;
    }

    .botoes-deletar-editar {
      display: flex;
      justify-content: center;
    }

    .botoes-deletar-editar *:nth-child(1) {
      margin-right: 2vw;
      cursor: pointer;
    }

    .formulario-registro {
      width: 100vw;
      padding: 0 10vw;
    }

    .overlay-excluir {
      background-color: rgb(55, 17, 89);
      width: 0%;
      height: 100%;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1;
      overflow-x: hidden;
      transition: 0.5s;
      font-family: "Bunya Light", Arial, sans-serif;
      color: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 10vh;
    }

    .overlay-excluir p {
      font-size: 5vh;
      max-width: 80vw;
      word-break: break-all;
    }

    .botoes-excluir {
      margin-top: 2vh;
      display: flex;
      flex-direction: row;
    }

    .botoes-excluir button {
      font-family: "Montserrat Regular", Helvetica, sans-serif;
      color: #FFF;
      padding: 1vh;
      margin-right: 0.9vh;
      border: 0.1vh outset #FFF;
      border-radius: 1.5vh;
      font-size: 3vh;
      background-color: rgba(55, 17, 89, 0);
      cursor: pointer;
    }

    .formulario-link {
      align-content: flex-start;
    }

    .formulario-link input {
      display: none;
    }

    .formulario-link button {
      cursor: pointer;
      border: none;
      margin: 0;
      font-family: "Montserrat Regular", Helvetica, sans-serif;
      font-size: 100%;
      background-color: rgba(255, 255, 255, 0);
    }

    .nota {
      margin-top: 1.5vh;
      padding: 1.5vh;
      border: 0.1vh solid #FFF;
      text-align: center;
      max-width: 80vw;
      font-family: "Montserrat Regular", Helvetica, sans-serif;
      color: #FFF;
    }

    .ql-toolbar {
      background-color: #FFF;
      margin-top: 1.5vh;
    }

    .ql-toolbar span {
      background-color: #FFF;
      margin: 0;
      min-width: 0;
    }

    .ql-editor strong, .texto-analise strong {
      font-weight: bold;
    }

    .ql-editor em, .texto-analise em {
      font-style: italic;
    }

    .ql-editor u, .texto-analise u {
      text-decoration: underline;
    }

    .pesquisa-restrita {
      display: flex;
      flex-direction: row;
      margin-top: 2vh;
    }

    .pesquisa-restrita input {
      min-width: 0;
    }

    .pesquisa-restrita input[type="text"] {
      max-width: 60vw;
      margin-right: 2vw;
      max-height: 6vh;
      border: 0.1vh solid #FFF;
    }

    .pesquisa-restrita input[type="image"]{
      height: 6vh;
      width: 6vh;
    }

    @media screen and (min-width: 700px) {
      .botoes-header *:nth-child(2){
        display: flex;
      }

      .pesquisa-restrita input[type="text"] {
        min-width: 55vw;
        max-height: 9vh;
      }

      .pesquisa-restrita input[type="image"] {
        height: 9vh;
        width: 9vh;
      }

      .alinharlista {
        display: flex;
        align-items: center;
      }

      .alinharlista ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .alinharlista ul a {
        margin-top: 2vh;
        margin-right: 6vh;
      }

      .registros {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
      }

      .registros .tabela-edicao-conteudo {
        max-width: 40vw;
        margin-right: 4vw;
      }

      .registros .tabela-edicao-conteudo:last-child {
        margin: 5vh 30vw;
      }

      .overlay-excluir img {
        margin-top: 5vh;
        max-width: 35vh;
      }
    }
 