<header>
  <div class="itens-header logo-site">
    <a class="itens-header" href="/">
      <img class="itens-header imagem-logo" src="/icones/iconeSite.png">
    </a>
    <div class="itens-header textos-logo">
      <h1>Meninas e Mulheres</h1>
      <h1>na Ciência</h1>
    </div>
  </div>
  <ul class="itens-header botoes-header">
    <a class="itens-header" href="/restrito/editar-perfil/">
      <li class="itens-header"><img class="itens-header" src="/imagens/area-restrita/usuarioIcon.png"></li>
    </a>
    <a class="itens-header" href="/restrito/logout">
      <li class="itens-header"><img class="itens-header" src="/imagens/area-restrita/logoutIcon.png"></li>
    </a>
  </ul>
</header>